@model IEnumerable<PracticaESFE.AppMVC.Models.Customer>

@{
    ViewData["Title"] = "Reporte de clientes";
}

<h1>Reporte de clientes</h1>

<table class="table">
    <thead>
        <tr>           
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Addres)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>           
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Addres)
            </td>          
        </tr>
}
    </tbody>
</table>
